*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.App {
  font-family: sans-serif;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

.App h1 {
  margin-bottom: 2rem;
  text-align: center;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input_wrapper {
  margin-top: 40px;
}

.input_container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 0.5rem;
  padding: 1rem;
}

.input_chips {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 10px;
}

.input_chips_item {
  background-color: #cfe1ff;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-right: 35px;
  border-radius: 10px;
  max-width: 480px;
  position: relative;
}

.input_chips_item span {
  color: #013380;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input_chips_item__editable {
  outline: none;
}

.input_chips_item__icon {
  width: 20px;
  height: 20px;
  fill: #3270d1;
  cursor: pointer;
  transition: fill 0.2s;
  position: absolute;
  right: 10px;
  outline: none;
}

.input_chips_item__icon:hover {
  fill: #2857a3;
  transition: all 0.2s;
}

input {
  margin: 10px;
  min-width: 200px;
  font-size: 15px;
  background: transparent;
  border: none;
  outline: none;
}

.error_message {
  margin-top: 10px;
  color: red;
}
